<table id="filtro_alimentoPrincipal">
     <tr>
        <td>
            <input type="checkbox" class="filtroSecundario" value="carne" style="float: left;"  />
            <img src="../../resources/images/filtros/alimento/carne.jpg" alt="Carne" style="width: 75px; height: 71px;" />
        </td>
        <td>
            <input type="checkbox" class="filtroSecundario" value="carro&ntilde;a" style="float: left;"  />
            <img src="../../resources/images/filtros/alimento/carrona.jpg" alt="Carro&ntilde;a" style="width: 75px; height: 71px;" />
        </td>
        <td>
            <input type="checkbox" class="filtroSecundario" value="flores" style="float: left;"  />
            <img src="../../resources/images/filtros/alimento/flores.jpg" alt="Flores" style="width: 75px; height: 71px;" />
        </td>
        <td>
            <input type="checkbox" class="filtroSecundario" value="frutas" style="float: left;"  />
            <img src="../../resources/images/filtros/alimento/frutas.jpg" alt="Frutas" style="width: 75px; height: 71px;" />
        </td>
    </tr>
     <tr>
        <td>
            <input type="checkbox" class="filtroSecundario" value="insectos" style="float: left;"  />
            <img src="../../resources/images/filtros/alimento/insectos.jpg" alt="Insectos" style="width: 75px; height: 71px;" />
        </td>
        <td>
            <input type="checkbox" class="filtroSecundario" value="omnivoro" style="float: left;"  />
            <img src="../../resources/images/filtros/alimento/omnivoro.jpg" alt="Omnivoro" style="width: 75px; height: 71px;" />
        </td>
        <td>
            <input type="checkbox" class="filtroSecundario" value="n&eacute;ctar" style="float: left;"  />
            <img src="../../resources/images/filtros/alimento/nectar.jpg" alt="N&eacute;ctar" style="width: 75px; height: 71px;" />
        </td>
        <td>
            <input type="checkbox" class="filtroSecundario" value="peces" style="float: left;"  />
            <img src="../../resources/images/filtros/alimento/peces.jpg" alt="Peces" style="width: 75px; height: 71px;" />
        </td>
    </tr>
     <tr>
        <td>
            <input type="checkbox" class="filtroSecundario" value="semillas" style="float: left;"  />
            <img src="../../resources/images/filtros/alimento/semillas.jpg" alt="Semillas" style="width: 75px; height: 71px;" />
        </td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
