<table id="filtro_coloresPecho">
    <tr>
        <td>
            <input type="checkbox" class="filtroSecundario" value="amarillo" style="float: left;"  />
            <img src="../../resources/images/filtros/colores/amarillo.jpg" alt="Amarillo" style="width: 75px; height: 71px;" />
        </td>
        <td>
            <input type="checkbox" class="filtroSecundario" value="azul" style="float: left;"  />
            <img src="../../resources/images/filtros/colores/azul.jpg" alt="Azul" style="width: 75px; height: 71px;" />
        </td>
        <td>
            <input type="checkbox" class="filtroSecundario" value="beige" style="float: left;"  />
            <img src="../../resources/images/filtros/colores/beige.jpg" alt="Beige" style="width: 75px; height: 71px;" />
        </td>
        <td>
            <input type="checkbox" class="filtroSecundario" value="blanco" style="float: left;"  />
            <img src="../../resources/images/filtros/colores/blanco.jpg" alt="Blanco" style="width: 75px; height: 71px;" />
        </td>
    </tr>
    <tr>
        <td>
            <input type="checkbox" class="filtroSecundario" value="cafe" style="float: left;"  />
            <img src="../../resources/images/filtros/colores/cafe.jpg" alt="Caf&eacute;" style="width: 75px; height: 71px;" />
        </td>
        <td>
            <input type="checkbox" class="filtroSecundario" value="casta&ntilde;o" style="float: left;"  />
            <img src="../../resources/images/filtros/colores/castano.jpg" alt="casta&ntilde;o" style="width: 75px; height: 71px;" />
        </td>
        <td>
            <input type="checkbox" class="filtroSecundario" value="gris" style="float: left;"  />
            <img src="../../resources/images/filtros/colores/gris.jpg" alt="Gris" style="width: 75px; height: 71px;" />
        </td>
        <td>
            <input type="checkbox" class="filtroSecundario" value="morado" style="float: left;"  />
            <img src="../../resources/images/filtros/colores/morado.jpg" alt="Morado" style="width: 75px; height: 71px;" />
        </td>
    </tr>
    <tr>
        <td>
            <input type="checkbox" class="filtroSecundario" value="naranja" style="float: left;"  />
            <img src="../../resources/images/filtros/colores/naranja.jpg" alt="Naranja" style="width: 75px; height: 71px;" />
        </td>
        <td>
            <input type="checkbox" class="filtroSecundario" value="negro" style="float: left;"  />
            <img src="../../resources/images/filtros/colores/negro.jpg" alt="Negro" style="width: 75px; height: 71px;" />
        </td>
        <td>
            <input type="checkbox" class="filtroSecundario" value="oliva" style="float: left;"  />
            <img src="../../resources/images/filtros/colores/oliva.jpg" alt="Oliva" style="width: 75px; height: 71px;" />
        </td>
        <td>
            <input type="checkbox" class="filtroSecundario" value="rojo" style="float: left;"  />
            <img src="../../resources/images/filtros/colores/rojo.jpg" alt="Rojo" style="width: 75px; height: 71px;" />
        </td>
    </tr>
    <tr>
        <td>
            <input type="checkbox" class="filtroSecundario" value="rosado" style="float: left;"  />
            <img src="../../resources/images/filtros/colores/rosado.jpg" alt="Rosado" style="width: 75px; height: 71px;" />
        </td>
        <td>
            <input type="checkbox" class="filtroSecundario" value="verde" style="float: left;"  />
            <img src="../../resources/images/filtros/colores/verde.jpg" alt="Verde" style="width: 75px; height: 71px;" />
        </td>
        <td></td>
        <td></td>
    </tr>
</table>