<table id="filtro_formaAlas">
    <tr>
        <td>
            <input type="checkbox" class="filtroSecundario" value="anchas" style="float: left;"  />
            <img src="../../resources/images/filtros/alas/anchas.jpg" alt="Anchas" style="width: 75px; height: 71px;" />
        </td>
        <td>
            <input type="checkbox" class="filtroSecundario" value="cortas" style="float: left;" />
            <img src="../../resources/images/filtros/alas/cortas.jpg" alt="Cortas" style="width: 75px; height: 71px;" />
        </td>
        <td>
            <input type="checkbox" class="filtroSecundario" value="largas" style="float: left;" />
            <img src="../../resources/images/filtros/alas/largas.jpg" alt="Largas" style="width: 75px; height: 71px;" />
        </td>
        <td>
            <input type="checkbox" class="filtroSecundario" value="puntiagudas" style="float: left;" />
            <img src="../../resources/images/filtros/alas/puntiagudas2.jpg" alt="Puntiagudas" style="width: 75px; height: 71px;" />
        </td>
    </tr>
    <tr>
        <td>
            <input type="checkbox" class="filtroSecundario" value="redondeadas" style="float: left;" />
            <img src="../../resources/images/filtros/alas/redondeadas.jpg" alt="Redondeadas" style="width: 75px; height: 71px;" />
        </td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>