<table id="filtro_formaPico">
    <tr>
        <td>
            <input type="checkbox" class="filtroSecundario" value="aguja" style="float: left;"  />
            <img src="../../resources/images/filtros/picos/aguja.jpg" alt="Aguja" style="width: 75px; height: 71px;" />
        </td>
        <td>
            <input type="checkbox" class="filtroSecundario" value="atrapamoscas" style="float: left;"  />
            <img src="../../resources/images/filtros/picos/atrapamoscas.jpg" alt="Atrapamoscas" style="width: 75px; height: 71px;" />
        </td>
        <td>
            <input type="checkbox" class="filtroSecundario" value="cono" style="float: left;"  />
            <img src="../../resources/images/filtros/picos/cono.jpg" alt="Cono" style="width: 75px; height: 71px;" />
        </td>
        <td>
            <input type="checkbox" class="filtroSecundario" value="curvo" style="float: left;"  />
            <img src="../../resources/images/filtros/picos/curvo.jpg" alt="Curvo" style="width: 75px; height: 71px;" />
        </td>
    </tr>
    <tr>
        <td>
            <input type="checkbox" class="filtroSecundario" value="daga" style="float: left;"  />
            <img src="../../resources/images/filtros/picos/daga.jpg" alt="Daga" style="width: 75px; height: 71px;" />
        </td>
        <td>
            <input type="checkbox" class="filtroSecundario" value="gancho" style="float: left;"  />
            <img src="../../resources/images/filtros/picos/gancho.jpg" alt="Gancho" style="width: 75px; height: 71px;" />
        </td>
        <td>
            <input type="checkbox" class="filtroSecundario" value="irregular" style="float: left;"  />
            <img src="../../resources/images/filtros/picos/irregular.jpg" alt="Irregular" style="width: 75px; height: 71px;" />
        </td>
        <td>
            <input type="checkbox" class="filtroSecundario" value="rapaz" style="float: left;"  />
            <img src="../../resources/images/filtros/picos/rapaz.jpg" alt="Rapaz" style="width: 75px; height: 71px;" />
        </td>
    </tr>
    <tr>
        <td>
            <input type="checkbox" class="filtroSecundario" value="regular" style="float: left;"  />
            <img src="../../resources/images/filtros/picos/regular.jpg" alt="Regular" style="width: 75px; height: 71px;" />
        </td>
        <td>
            <input type="checkbox" class="filtroSecundario" value="tucan" style="float: left;"  />
            <img src="../../resources/images/filtros/picos/tucan.jpg" alt="Tuc&aacute;n" style="width: 75px; height: 71px;" />
        </td>
        <td></td>
        <td></td>
    </tr>
</table>