<table id="filtro_habitats">
    <tr>
        <td>
            <input type="checkbox" class="filtroSecundario" value="bosque" style="float: left;"  />
            <img src="../../resources/images/filtros/habitat/bosque.jpg" alt="Bosque" style="width: 75px; height: 71px;" />
        </td>
        <td>
            <input type="checkbox" class="filtroSecundario" value="acuatico" style="float: left;"  />
            <img src="../../resources/images/filtros/habitat/lago.jpg" alt="Acu&aacute;" style="width: 75px; height: 71px;" />
        </td>
        <td>
            <input type="checkbox" class="filtroSecundario" value="matorral" style="float: left;"  />
            <img src="../../resources/images/filtros/habitat/matorral.jpg" alt="Matorral" style="width: 75px; height: 71px;" />
        </td>
        <td>
            <input type="checkbox" class="filtroSecundario" value="monta&ntilde;a" style="float: left;"  />
            <img src="../../resources/images/filtros/habitat/montana.jpg" alt="Monta&ntilde;a" style="width: 75px; height: 71px;" />
        </td>
    </tr>
    <tr>
        <td>
            <input type="checkbox" class="filtroSecundario" value="pradera" style="float: left;"  />
            <img src="../../resources/images/filtros/habitat/pradera.jpg" alt="Pradera" style="width: 75px; height: 71px;" />
        </td>
        <td>
            <input type="checkbox" class="filtroSecundario" value="urbano" style="float: left;"  />
            <img src="../../resources/images/filtros/habitat/urbano.jpg" alt="Urbano" style="width: 75px; height: 71px;" />
        </td>
        <td></td>
        <td></td>
    </tr>
</table>