<table id="filtro_patrones">
    <tr>
        <td>
            <input type="checkbox" class="filtroSecundario" value="puntos" style="float: left;"  />
            <img src="../../resources/images/filtros/patrones/puntos.jpg" alt="Puntos" style="width: 75px; height: 71px;" />
        </td>
        <td>
            <input type="checkbox" class="filtroSecundario" value="rayas" style="float: left;"  />
            <img src="../../resources/images/filtros/patrones/rayas.jpg" alt="Rayas" style="width: 75px; height: 71px;" />
        </td>
    </tr>
</table>