<table id="filtro_silueta">
    <tr>
        <td>
            <input type="checkbox" class="filtroSecundario" value="atrapamoscas" style="float: left;"  />
            <img src="../../resources/images/filtros/silueta/atrapamoscas.jpg" alt="Atrapamoscas" style="width: 75px; height: 71px;" />
        </td>
        <td>
            <input type="checkbox" class="filtroSecundario" value="buho" style="float: left;"  />
            <img src="../../resources/images/filtros/silueta/buho.jpg" alt="Buho" style="width: 75px; height: 71px;" />
        </td>
        <td>
            <input type="checkbox" class="filtroSecundario" value="colibr&iacute;" style="float: left;"  />
            <img src="../../resources/images/filtros/silueta/colibri.jpg" alt="Colibr&iacute;" style="width: 75px; height: 71px;" />
        </td>
        <td>
            <input type="checkbox" class="filtroSecundario" value="garza" style="float: left;"  />
            <img src="../../resources/images/filtros/silueta/garza.jpg" alt="Garza" style="width: 75px; height: 71px;" />
        </td>
    </tr>
    <tr>
       <td>
            <input type="checkbox" class="filtroSecundario" value="tuc&aacute;n" style="float: left;"  />
            <img src="../../resources/images/filtros/silueta/tucan.jpg" alt="Tuc&aacute;n" style="width: 75px; height: 71px;" />
        </td>
        <td>
            <input type="checkbox" class="filtroSecundario" value="golondrina" style="float: left;"  />
            <img src="../../resources/images/filtros/silueta/golondrina.jpg" alt="Golondrina" style="width: 75px; height: 71px;" />
        </td>
        <td>
            <input type="checkbox" class="filtroSecundario" value="loro" style="float: left;"  />
            <img src="../../resources/images/filtros/silueta/loro.jpg" alt="Loro" style="width: 75px; height: 71px;" />
        </td>
        <td>
            <input type="checkbox" class="filtroSecundario" value="paloma" style="float: left;"  />
            <img src="../../resources/images/filtros/silueta/paloma.jpg" alt="Paloma" style="width: 75px; height: 71px;" />
        </td>
    </tr>
    <tr>
        <td>
            <input type="checkbox" class="filtroSecundario" value="pescador" style="float: left;"  />
            <img src="../../resources/images/filtros/silueta/pescador.jpg" alt="Pescador" style="width: 75px; height: 71px;" />
        </td>
        <td>
            <input type="checkbox" class="filtroSecundario" value="rapaz" style="float: left;"  />
            <img src="../../resources/images/filtros/silueta/rapaz.jpg" alt="Rapaz" style="width: 75px; height: 71px;" />
        </td>
        <td>
            <input type="checkbox" class="filtroSecundario" value="regular" style="float: left;"  />
            <img src="../../resources/images/filtros/silueta/regular.jpg" alt="Regular" style="width: 75px; height: 71px;" />
        </td>
        <td>
            <input type="checkbox" class="filtroSecundario" value="trepatroncos" style="float: left;"  />
            <img src="../../resources/images/filtros/silueta/trepatroncos.jpg" alt="Trepatroncos" style="width: 75px; height: 71px;" />
        </td>
    </tr>
</table>