<table id="filtro_tamanio">
    <tr>
        <td>
            <input type="checkbox" class="filtroSecundario" value="muypequenio" style="float: left;"  />
            <img src="../../resources/images/filtros/tamanio/muypequeno.jpg" alt="Muy peque&ntilde;o" style="width: 75px; height: 71px;" />
        </td>
        <td>
            <input type="checkbox" class="filtroSecundario" value="pequenio" style="float: left;"  />
            <img src="../../resources/images/filtros/tamanio/pequeno.jpg" alt="Peque&ntilde;o" style="width: 75px; height: 71px;" />
        </td>
        <td>
            <input type="checkbox" class="filtroSecundario" value="mediano" style="float: left;"  />
            <img src="../../resources/images/filtros/tamanio/mediano.jpg" alt="Mediano" style="width: 75px; height: 71px;" />
        </td>
        <td>
            <input type="checkbox" class="filtroSecundario" value="grande" style="float: left;"  />
            <img src="../../resources/images/filtros/tamanio/grande.jpg" alt="Grande" style="width: 75px; height: 71px;" />
        </td>
    </tr>
    <tr>
        <td>
            <input type="checkbox" class="filtroSecundario" value="muygrande" style="float: left;"  />
            <img src="../../resources/images/filtros/tamanio/muygrande.jpg" alt="Muy grande" style="width: 75px; height: 71px;" />
        </td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>