<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Gu&iacute;a de las aves del valle de aburrá</title>
        <meta name="Description" content="" />
        <meta http-equiv="content-language" content="es-ES" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="aves del valle de aburrá" />
        <meta name="robots" content="all" />
        <meta name="googlebot" content="index, follow" />
        <link href="estilos.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div id="contenedorFicha" class="contenedor">
            <div id="marco">
                <div id="contenido">
                    <div id='left_col'>
                        <div class='cuadro'>
                            <h2>Ficha</h2>
                            <div id="fCuerpo" style="height: 345px;">
                                <table>
                                    <tr>
                                        <td class="highlight"><b>Orden: </b></td>
                                        <td><span id="orden" class="capital"></span></td>
                                    </tr>
                                    <tr>
                                        <td class="highlight"><b>Familia: </b></td>
                                        <td><span id="familia" class="capital"></span></td>
                                    </tr>
                                    <tr>
                                        <td class="highlight"><b>Nombre cient&iacute;fico: </b></td>
                                        <td><span id="nCientifico" class="capital"></span></td>
                                    </tr>
                                    <tr>
                                        <td class="highlight"><b>Nombre com&uacute;n: </b></td>
                                        <td><span id="nComun" class="capital"></span></td>
                                    </tr>
                                    <tr>
                                        <td class="highlight"><b>Categor&iacute;a de conservaci&oacute;n: </b></td>
                                        <td><span id="cConservacion" class="capital"></span></td>
                                    </tr>
                                    <tr>
                                        <td class="highlight"><b>Descripci&oacute;n: </b></td>
                                        <td><span id="descripcion" class="capital"></span></td>
                                    </tr>
                                    <tr>
                                        <td class="highlight"><b>Datos curiosos: </b></td>
                                        <td><span id="dCuriosos" class="capital"></span></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class='cuadro'>
                            <h2>Comentarios</h2>
                            <div id="fCuerpo">
                                Comentarios de usuarios ( En construcci&oacute;n )<br/>
                            </div>
                        </div>
                    </div>
                    <div id='right_col'>
                        <div class="cuadro">
                            <div id="gallery" style="margin: 10px 0px 0px 10px;">
                            </div>
                        </div>
                        <div class='cuadro'>
                            <h2>Mapa</h2>
                            <div id="worldMap" style="width: 445px; height: 335px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
