<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Gu&iacute;a de las aves del valle de aburrá</title>
		<meta name="Description" content="" />
		<meta http-equiv="content-language" content="es-ES" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="aves del valle de aburrá" />
		<meta name="robots" content="all" />
		<meta name="googlebot" content="index, follow" />
		<link href="estilos.css" rel="stylesheet" type="text/css" />
		<link href="temporal.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div id="contenedor">
			<div id="marco">
				<div id="encabezado_1">
					<div id="links">
						<a href="#">Ayuda</a>
						<a href="#">Contacto</a>
					</div>
				</div>
				<div id="contenido">
					<div id="busqueda_btn">
						<a href="busqueda.htm"><img src="imagenes/busqueda_boton.png" /></a>
					</div>
					<div id='left_col'>
						<div class='cuadro'>
							<h2>Noticias</h2>
							<div id="fCuerpo">
								Texto de noticias<br/>
							</div>
						</div>
					</div>
					<div id='right_col'>
						<div class='cuadro'>
							<h2>Estad&iacute;sticas</h2>
							<div id="fCuerpo">
								Texto de estadísticas<br/>
							</div>
						</div>
					</div>
				</div>
				<div id="pie">
					<hr />
					<p>SAO 2011</p>
				</div>
			</div>
		</div>
	</body>
</html>
